
:root {


  --red: rgb(255, 0, 0);

  --red-border: hsl(0, 100%, 25%);

  --orange: rgb(255, 128, 0);

  --orange-border: hsl(30, 100%, 25%);

  --yellow: rgb(255, 255, 0);

  --yellow-border: hsl(60, 100%, 25%);

  --purple: rgb(162, 0, 255);

  --purple-border: hsl(278, 100%, 25%);

  --black: hsl(0, 0%, 0%);

  --black-grey: hsl(0, 0%, 20%);

  --white: hsl(0, 0%, 100%);

  --meter-gradient: linear-gradient(rgb(255, 0, 0) 0%, rgb(255, 255, 0) 50%, rgb(0, 255, 0) 100%);

  --darker-meter-gradient: linear-gradient(rgb(128, 0, 0) 0%, rgb(128, 128, 0) 50%, rgb(0, 128, 0) 100%);

  --nav-height: 250px;


  --default-font: 'Impact';

  --fs-1: 3.5rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.3rem;

  --fw-600: 600;
  --fw-700: 700;


  --radius-5: 5px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;

  --section-padding: 60px;


  --shadow: 0 -5px 10px var(--manatee);


  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  --Span-Hover-Translate-Y: -55px;

}

/*@font-face {
  font-family: "Some font";
  src: url("css/fonts/some-font.eot");
  src: url("css/fonts/some-font.woff") format("woff"),
       url("css/fonts/some-font.otf") format("opentype"),
       url("css/fonts/some-font.svg#filename") format("svg");
}
*/

@font-face {
  font-family: "impact";
  src: url("Assets/Fonts/Roboto_Fonts/Roboto-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}



h1{
  font-weight: normal;
  text-align: center;
  paint-order: stroke fill;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(128, 128, 128);
}

h2{
  font-weight: normal;
  margin-left: 10px;
  paint-order: stroke fill;
  -webkit-text-stroke-width: 4px;  
  -webkit-text-stroke-color: rgb(128, 128, 128);
}

h3{
  font-weight: normal;
  margin-left: 10px;
  paint-order: stroke fill;
  -webkit-text-stroke-width: 3px;  
  -webkit-text-stroke-color: rgb(128, 128, 128);
}

h4{
  font-weight: normal;
  margin-left: 10px;
  paint-order: stroke fill;
  -webkit-text-stroke-width: 4px;  
  -webkit-text-stroke-color: rgb(128, 128, 128);
}

h5{
  font-weight: normal;
  margin-left: 10px;
  paint-order: stroke fill;
  -webkit-text-stroke-width: 3px;  
  -webkit-text-stroke-color: rgb(128, 128, 128);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

.Span_Hover
{
  visibility: hidden;
  overflow: visible;
  align-items: center;
  margin: auto;
  position: absolute;
  border-width: 3px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--radius-10);
  transform: translateY(-15px);
  text-align: center;
  -webkit-text-stroke-width: 3px;
  paint-order: stroke fill;
}

@keyframes effect {
  0% {
    visibility: visible;
  }
}

#Header_Div{
  text-align: center;
  color: var(--white);
  height: 250px;

  position: fixed;
  /*background-color: hsl(0, 0%, 25%);*/
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  top: 0;
}


#Header_Div ul li
{
  float: left;
  border-radius: var(--radius-10);
}

#Header_Div .navbar
{
  padding-bottom: 10px;
}


#Header_Div #Professions_Div
{
  font-size: 30px;
  height: auto;
}

#Header_Div #Name_Div{
  font-size: 50px;
  height: auto;
}


#Header_Div .navbar ul li .subnavbar
{  
  float: left;
  overflow: hidden;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  visibility: hidden;
  background-color: hsla(0, 0%, 25%, 0.9);
  right: 0;
  text-align: center;
  margin-top: 10px;
}

#Header_Div .navbar ul li:hover .subnavbar
{  
  visibility: visible;
}

#Header_Div .subnavbar li
{
  margin-left: 37.5px;
  margin-right: 37.5px;
}

/*Red Color*/
.Red_Section
{
  color: var(--red);
}

.Red_Section a
{
  color: var(--red);
}

#Header_Div .Red_Section a
{
  color: var(--red);
  -webkit-text-stroke: 3px var(--red-border);
  border-color: hsla(0, 100%, 25%, 0);
  transition : all 0.5s;  
  border-width: 2px;
  paint-order: stroke fill;
  border-style: solid;
}


#Header_Div .Red_Section a:hover
{
  color: var(--white);
  background-color: var(--red);
  border-color: hsla(0, 100%, 25%, 1);
  border-width: 2px;
  border-style: solid;
}

/*Orange Color*/

.Orange_Section
{
  color: var(--orange);
}

.Orange_Section a
{
  color: var(--orange);
}

#Header_Div .Orange_Section a
{
  color: var(--orange);
  -webkit-text-stroke: 3px var(--orange-border);
  border-color: hsla(30, 100%, 25%, 0);
  transition : all 0.5s;  
  border-width: 2px;
  paint-order: stroke fill;
  border-style: solid;
}


#Header_Div .Orange_Section a:hover
{
  color: var(--white);
  background-color: var(--orange);
  border-color: hsla(30, 100%, 25%, 1);
  border-width: 2px;
  border-style: solid;
}

/*Yellow Color*/
.Yellow_Section
{
  color: var(--yellow);
}

.Yellow_Section a
{
  color: var(--yellow);
}

#Header_Div .Yellow_Section a
{
  color: var(--yellow);
  -webkit-text-stroke: 3px var(--yellow-border);
  border-color: hsla(60, 100%, 25%, 0);
  transition : all 0.5s;
  paint-order: stroke fill;  
  border-width: 2px;
  border-style: solid;
}


#Header_Div .Yellow_Section a:hover
{
  color: var(--white);
  background-color: var(--yellow);
  border-color: hsla(60, 100%, 25%, 1);
  border-width: 2px;
  border-style: solid;
}


/*Purple Color*/
.Purple_Section
{
  color: var(--purple);
}

.Purple_Section a
{
  color: var(--purple);
}

#Header_Div .Purple_Section a
{
  color: var(--purple);
  -webkit-text-stroke: 3px var(--purple-border);
  border-color: hsla(278, 100%, 25%, 0);
  transition : all 0.5s;  
  border-width: 2px;
  paint-order: stroke fill;
  border-style: solid;
}


#Header_Div .Purple_Section a:hover
{
  color: var(--white);
  background-color: var(--purple);
  border-color: hsla(278, 100%, 25%, 1);
  border-width: 2px;
  border-style: solid;
}

/*
Tags
*/

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
strong,
button,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
  pointer-events: none;
  color: var(--white);
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input{ width: 100%; }

address { font-style: normal; }

html {
  font-size: 20px;
  font-family: var(--default-font);
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-grey);
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}

.h2,
.h3 {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }



.navbar{
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  height: auto;
}

.navbar ul li{
  margin-left: 37.5px;
  margin-right: 37.5px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


.navbar ul li a{
  -webkit-text-stroke-width: 3px;
  paint-order: stroke fill;
  border-radius: var(--radius-10);
  padding-left: 10px;
  padding-right: 10px;
}

.navbar ul li:hover{
  color: var(--white);
}

.navbar ul li a:hover{
  color: var(--white);
}

.navbar ul li .subnavbar{
  position: absolute;
  visibility: hidden;
}

.navbar ul li:hover .subnavbar{
  visibility: visible;
  height: 300px;
}

.Progress_Meter_Box {
  border-radius: var(--radius-10);
  background-color: var(--white);
  height: 16px;
  border-color: hsl(0, 0%, 40%);
  border-style: solid;  
  border-width: 2px;
}

.Progress_Meter {
  background-color: var(--yellow);
  height: 100%;
  border-radius: inherit;
  border-right-color: var(--yellow-border);
  border-right-style: solid;
  border-right-width: 3px;
}

/*
About Me Div
*/

#Main
{
  margin-top: var(--nav-height);
}


#Info_Div .Table
{
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  height: 355px;
  background-color: rgb(255, 100, 100);

  border: hsl(0, 100%, 35%) 3px;
  border-style: solid;  
  -webkit-text-stroke: hsl(0, 100%, 35%) 3px;  
  paint-order: stroke fill;
  width: 90%;
  
  border-radius: var(--radius-10);
  overflow: hidden;
}

#Info_Div img
{
  margin: 0;
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100px;
}


#Info_Div .Table .Column
{
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  width: 25%;
  height: 100%;
  float: left;
}

#Info_Div .Table .Column .Row1
{
  width: 100%;
  height: 140px;
}

/*
#Info_Div .Table .Column .Row1 img[title]:hover:after
{
  content: attr(title);
  padding: 4px 8px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 2;
  border-radius: 5px ;
  background: rgba(0,0,0,0.5);
}
*/

#Info_Div .Table .Column .Row1 .Span_Hover
{
  border-color: var(--red);
  color: var(--red);
  -webkit-text-stroke-color: var(--red-border);
}


#Info_Div .Table .Column .Row1 img:hover + .Span_Hover
{
  animation: effect 1s infinite 1s;
}

#Info_Div .Table .Column .Row2
{
  width: 100%;
  height: 105px;
  font-size: 25px;
  margin-top: 5px;
}
#Info_Div .Table .Column .Row3
{
  width: 100%;
  height: 105px;
}

#Info_Div .Table img{
  margin: auto;
}

#Info_Div #Birthday,
#Info_Div #Visa
{
  background-color: rgb(0, 0, 0, 0.25);
}

#About_Me
{
  height: auto;
  scroll-margin-top: var(--nav-height);
}

#Experiences{
  height: auto;
  scroll-margin-top: var(--nav-height);
}


#Skills
{
  height: auto;
  scroll-margin-top: var(--nav-height);
}

#Contact_Div
{
  height: auto;
  scroll-margin-top: var(--nav-height);
}


/*
  Experiences Div
*/

.Experience_Item .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 10px;
}

#Experiences .Education_Panel,
#Experiences .Project_Panel
{
  color: var(--white);
}

#Experiences .Span_Hover
{
  border-color: var(--orange);
  color: var(--orange);
  -webkit-text-stroke-color: var(--orange-border);
}

#Experiences .Icon_Container img:hover + .Span_Hover
{
  animation: effect 1s infinite 1s;
}


/*
  Education Div
*/

#Education_Div .Education_Panel
{
  background-color: rgb(252, 181, 48);
  border-color: hsl(39, 97%, 30%);
  border-width: 3px;
  border-radius: var(--radius-10);
  border-style: solid;
  width: 95%;
  height: 700px;
  margin: auto;  
  paint-order: stroke fill;  
  -webkit-text-stroke: hsl(39, 97%, 30%) 3px;

  overflow: hidden;
}

#Experiences h3,
#Experiences h4,
#Experiences h5
{
  text-align: center;
  -webkit-text-stroke-color: hsl(39, 97%, 30%);
}

#Education_Div #Education_Table
{
  height: auto;
}

#Education_Div li
{
  margin-top: 50px;
  margin-bottom: 50px;
}

#Education_Div .Education_Panel .Upper_Part
{
  height: 500px;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: hsl(39, 97%, 30%);
}

#Education_Div .Education_Panel .Logo
{
  width: 40%;
  height: 100%;
  margin: auto;
  float: left;
}

#Education_Div .Education_Panel .Group_1
{
  width: 40%;
  height: 100%;
  float: left;
  margin: auto;
}

#Education_Div .Education_Panel #Index
{
  position: absolute;
  width: 60px;
  height: 40px;
}

#Education_Div .Education_Panel #Index .Container
{
  width: 80%;
  height: 90%;
  margin: auto;

  align-items: center;
  justify-content: left;
  text-align: left;
  display: flex;
}


#Education_Div .Education_Panel .Group_1 .Logo
{
  height: 75%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#Education_Div .Education_Panel .Group_1 .Logo .Container
{
  align-items: center;
  justify-content: center;
}

#Education_Div .Education_Panel .Group_1 .Name
{
  height: 25%;
  width: 100%;

  align-items: center;
  justify-content: center;
  display: flex;
}


#Education_Div .Education_Panel .Group_2
{
  width: 60%;
  height: 100%;
  float: left;
  margin: auto;
  vertical-align: middle;  
  justify-content: center;
}

#Education_Div .Education_Panel .Group_2 .Row
{
  width: 100%;
  height: 20%;
  float: left;
  margin: auto;
}


#Education_Div .Education_Panel .Group_2 .Row .Icon
{
  float: left;
  width: 100px;
  height: 100%;
  align-items: center;
}

#Education_Div .Education_Panel .Group_2 .Row .Icon .Icon_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

#Education_Div .Education_Panel .Group_2 .Row .Icon .Icon_Container img
{
  max-height: 60px;
}

#Education_Div .Education_Panel .Group_2 .Row .Section_1
{
  float: left;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#Education_Div .Education_Panel .Group_2 .Row .Section_2
{
  width: 100px;
  float: right;
  text-align: center;
  vertical-align: middle;  
  justify-content: space-between;
  height: 100%;
}

#Education_Div .Education_Panel .Group_2 #Location_Row .Section_2 .Icon_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: inline-block;
}

#Education_Div .Education_Panel .Group_2 #Location_Row .Section_2 .Icon_Container img
{
  max-height: 60px;
}


#Education_Div .Education_Panel .Group_2 #GPA_Row .Section_2
{
  align-items: center;
  margin: 0;
  display: flex;
  text-align: center;
  right: 50%;
  transform: translateX(-50%);
}

#Education_Div .Education_Panel .Group_2 #GPA_Row .Section_2 img
{
  max-height: 60px;
}

#Education_Div .Education_Panel .Group_2 .Section_1
{
  width: auto;
}

#Education_Div .Education_Panel .Group_2 #Location_Row,
#Education_Div .Education_Panel .Group_2 #Major_Row
{
  background-color: rgba(0, 0, 0, 0.25);
}


#Education_Div .Education_Panel .Description
{
  width: 99%;
  margin: auto;
  height: 50%;
}

#Education_Div .Title_Icon
{
  margin: auto;
  vertical-align: middle;  
  justify-content: center;
}

/*
  Projects Div
*/

#Projects_Div .Project_Panel
{
  background-color: rgb(252, 181, 48);
  border-color: hsl(39, 97%, 30%);
  border-width: 3px;
  border-radius: var(--radius-10);
  border-style: solid;
  width: 95%;
  height: 1110px;
  margin: auto;  
  paint-order: stroke fill;  
  -webkit-text-stroke: hsl(39, 97%, 30%) 3px;
}

#Projects_Div .Project_Panel .Upper_Part
{
  height: 280px;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: hsl(39, 97%, 30%);
}

#Projects_Div .Project_Panel .Group_1
{
  float: left;
  width: 40%;
  height: 100%;
}

#Projects_Div .Project_Panel .Group_2
{
  float: left;
  width: 60%;
  height: 100%;
}

#Projects_Div .Project_Panel .Description_Area
{
  margin: auto;
  height: 339px;
  width: 100%;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: hsl(39, 97%, 30%);
}

#Projects_Div .Project_Panel .Slides_Project_1 p
{
  display: none;
}


#Projects_Div .Project_Panel .Description .Textbox
{
  margin: auto;
  height: 100%;
  width: 99%;
}

#Projects_Div .Project_Panel .Description .Container
{
  margin: auto;
  width: 99.5%;
  height: 100%;
}

#Projects_Div .Project_Panel .Group_2 .Row
{
  width: 100%;
  height: 25%;  
  margin: auto;
}

#Projects_Div .Project_Panel h3
{
  text-align: center;
  -webkit-text-stroke-color: hsl(39, 97%, 30%);
}

#Projects_Div .Project_Panel .Group_2 .Row .Icon
{
  float: left;
  width: 100px;
  height: 100%;
  align-items: center;
}

#Projects_Div .Project_Panel .Group_2 .Row .Icon .Icon_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

#Projects_Div .Project_Panel .Group_2 .Row .Icon .Icon_Container img
{
  max-height: 60px;
}

#Projects_Div .Project_Panel .Group_2 .Row .Section_1
{
  float: left;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#Projects_Div .Project_Panel .Group_2 #Company_Row .Section_1
{
  float: left;
  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
}

#Projects_Div .Project_Panel .Group_2 #Company_Row .Section_2
{
  float: right;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Projects_Div .Project_Panel .Group_2 .Row .Section_2 img
{
  max-height: 60px;
}

#Projects_Div .Project_Panel .Group_2 #Location_Row .Section_1
{
  width: auto;
  float: left;
}

#Projects_Div .Project_Panel .Group_2 #Location_Row .Section_2
{
  float: right;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Projects_Div .Project_Panel #Index
{
  position: absolute;
  width: 60px;
  height: 40px;
}

#Projects_Div .Project_Panel #Index .Container
{
  width: 80%;
  height: 90%;
  margin: auto;

  align-items: center;
  justify-content: left;
  text-align: left;
  display: flex;
}

#Projects_Div .Project_Panel .Group_2 #Location_Row,
#Projects_Div .Project_Panel .Group_2 #Duration_Row
{
  background-color: rgba(0, 0, 0, 0.25);
}

.Header_Div_L3,
.Header_Div_L4,
.Header_Div_L5
{  
  align-content: center;
}

#Projects_Div .Project_Panel .Description_Area .Header_Div_L4
{  
  height: 15%;
}

#Projects_Div .Project_Panel .Description_Area .Text_Container
{  
  width: 99.5%;
  margin: auto;
  height: 85%;
}

#Projects_Div .Project_Panel .Slideshow
{  
  margin: auto;
  height: 471px;
}

#Projects_Div .Project_Panel .Slideshow .Container
{
  margin: auto;
  width: 99%;
  height: 100%;
  overflow: hidden;
}

#Projects_Div .Project_Panel .Slideshow .Header_Div_L4
{
  height: 56px;
  width: 100%;
  margin: auto;

}

#Projects_Div .Project_Panel .Slideshow .Upper_Part_2
{
  height: 334px;
  width: 100%;

  border-top: 2px solid hsla(0, 0%, 0%, 0.25);

  border-bottom: 2px solid hsla(0, 0%, 0%, 0.25);
}


#Projects_Div .Project_Panel .Slideshow .Upper_Part_2 #Display_Div
{
  height: 100%;
  width: 35%;
  float: left;

  border-right: 2px solid hsla(0, 0%, 0%, 0.25);
}

#Projects_Div .Project_Panel .Slideshow .Upper_Part_2 .Slideshow_Description_Area
{
  height: 100%;
  width: 65%;
  float: right;

  align-items: center;
  justify-content: center;
}

#Projects_Div .Project_Panel .Slideshow .Upper_Part_2 .Slideshow_Description_Area .Header_Div_L5
{
  height: 15%;
}

#Projects_Div .Project_Panel .Slideshow .Upper_Part_2 .Slideshow_Description_Area .Text_Container
{
  width: 99%;
  height: 85%;
  margin: auto;
}

#Projects_Div .Project_Panel .Slideshow .Footer
{
  height: 101px;
  width: 100%;

  align-items: center;
  justify-content: center;
}

#Projects_Div .Project_Panel .Slideshow .Footer #Previous_Button_Div
{
  float: left;
  width: 33.33%;
  width: calc(100% / 3);
  height: 100%;
}
#Projects_Div .Project_Panel .Slideshow .Footer #Previous_Button_Div button
{
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

#Projects_Div .Project_Panel .Slideshow .Footer #Slideshow_Counter_Div
{
  float: left;
  width: 33.33%;
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

#Projects_Div .Project_Panel .Slideshow .Footer #Slideshow_Counter_Div p
{
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
}

#Projects_Div .Project_Panel .Slideshow .Footer #Next_Button_Div
{
  float: left;
  width: 33.33%;
  width: calc(100% / 3);
  height: 100%;
}
#Projects_Div .Project_Panel .Slideshow .Footer #Next_Button_Div button
{
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

#Projects_Div .Slideshow #Display_Div .Slides_Project_1
{
  height: 90%;
  display: none;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

#Projects_Div .Slideshow #Display_Div .Slides_Project_1 img
{
  height: 100%;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

#Projects_Div .Slideshow #Display_Div .Slides_Project_1 iframe
{
  width: 100%;
  height: 100%;
  margin: auto;
}

#Projects_Div .Project_Panel .Slideshow .Slides_Project_1 .Slideshow_Description_1
{
  display: none;
}

#Previous_Button_Div button img,
#Next_Button_Div button img
{
  height: 80px;
}

/*
  Award
*/

#Awards_Div .Award_Panel
{
  background-color: rgb(252, 181, 48);
  border-color: hsl(39, 97%, 30%);
  border-width: 3px;
  border-radius: var(--radius-10);
  border-style: solid;
  width: 95%;
  height: 600px;
  margin: auto;  
  paint-order: stroke fill;  
  -webkit-text-stroke: hsl(39, 97%, 30%) 3px;
  overflow: hidden;
  color: var(--white);
}

#Awards_Div .Award_Panel .Upper_Part
{
  width: 100%;
  height: 60%;  
  border-bottom: 3px hsl(39, 97%, 30%) solid;
}

#Awards_Div .Award_Panel .Upper_Part .Left_Side
{
  width: 35%;
  height: 100%;
  float: left;
}

#Awards_Div .Award_Panel .Upper_Part .Right_Side
{
  width: 65%;
  height: 100%;
  float: right;
}

#Awards_Div .Award_Panel .Upper_Part .Right_Side .Row
{
  float: left;
  width: 100%;
  height: 20%;
  align-items: center;
}

#Awards_Div .Award_Panel .Right_Side .Row .Section_1
{
  float: left;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}


#Awards_Div .Award_Panel .Upper_Part .Right_Side .Row .Icon
{
  float: left;
  width: 100px;
  height: 100%;
  align-items: center;
}

#Awards_Div .Award_Panel .Upper_Part .Right_Side .Row .Icon .Icon_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

#Awards_Div .Award_Panel .Upper_Part .Right_Side .Row .Icon .Icon_Container img
{
  max-height: 60px;
}

#Awards_Div .Award_Panel .Right_Side .Row .Section_2
{
  float: right;
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
}

#Awards_Div .Award_Panel .Right_Side .Row .Section_2 img
{
  align-items: center;
  margin: auto;
  max-height: 60px;
}

#Awards_Div .Award_Panel .Upper_Part .Right_Side #Time_Row,
#Awards_Div .Award_Panel .Upper_Part .Right_Side #Location_Row
{
  background-color: rgba(0, 0, 0, 0.25);
}

/*
  Professional Experience Div
*/

#Professional_Experiences_Div .PE_Panel
{
  background-color: rgb(252, 181, 48);
  border-color: hsl(39, 97%, 30%);
  border-width: 3px;
  border-radius: var(--radius-10);
  border-style: solid;
  width: 95%;
  height: 550px;
  margin: auto;  
  paint-order: stroke fill;  
  -webkit-text-stroke: hsl(39, 97%, 30%) 3px;
  overflow: hidden;
  color: var(--white);
}

#Professional_Experiences_Div .PE_Panel .Upper_Part
{
  width: 100%;
  height: 55%;  
  border-bottom: 3px hsl(39, 97%, 30%) solid;
}

#Professional_Experiences_Div .PE_Panel .Upper_Part .Left_Side
{
  width: 35%;
  height: 100%;
  float: left;
}

#Professional_Experiences_Div .PE_Panel .Upper_Part .Right_Side
{
  width: 65%;
  height: 100%;
  float: right;
}

#Professional_Experiences_Div .PE_Panel .Upper_Part .Right_Side .Row
{
  float: left;
  width: 100%;
  height: 33.33%;
  height: calc(100% / 3);
  align-items: center;
}

#Professional_Experiences_Div .PE_Panel .Right_Side .Row .Section_1
{
  float: left;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}


#Professional_Experiences_Div .PE_Panel .Upper_Part .Right_Side .Row .Icon
{
  float: left;
  width: 100px;
  height: 100%;
  align-items: center;
}

#Professional_Experiences_Div .PE_Panel .Upper_Part .Right_Side .Row .Icon .Icon_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

#Professional_Experiences_Div .PE_Panel .Upper_Part .Right_Side .Row .Icon .Icon_Container img
{
  max-height: 60px;
}

#Professional_Experiences_Div .PE_Panel .Right_Side .Row .Section_2
{
  float: right;
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
}

#Professional_Experiences_Div .PE_Panel .Right_Side .Row .Section_2 img
{
  align-items: center;
  margin: auto;
  max-height: 60px;
}

#Professional_Experiences_Div .PE_Panel .Right_Side #Company_Row
{
  background-color: rgba(0, 0, 0, 0.25);
}

#Professional_Experiences_Div .PE_Panel .Lower_Part
{
  width: 100%;
  height: 45%;
}


/*
  Skills
*/

.skills-item .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 10px;
}

.skills-title,
.skills-data {
  color: var(--white);
  font-size: var(--fs-5);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  height: 100px;
}

.skills-progress-box {
  border-radius: var(--radius-10);
  background-color: var(--white);
  height: 16px;
  border-color: hsl(0, 0%, 40%);
  border-style: solid;  
  border-width: 2px;
}

.skills-progress {
  background-color: var(--yellow);
  height: 100%;
  border-radius: inherit;
  border-right-color: var(--yellow-border);
  border-right-style: solid;
  border-right-width: 3px;
}

#Skills .skills-item
{
  width: 45%;
  height: 150px;
  float: left;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.skills .section-title { margin-block-end: 20px; }

.skills .section-text { margin-block-end: 70px; }

.skills-list {
  display: grid;
  gap: 25px;
}

#Skills .Skill_Name .Span_Hover
{
  border-color: var(--yellow);
  color: var(--yellow);
  -webkit-text-stroke-color: var(--yellow-border);
}

#Skills .Skill_Name p:hover + .Span_Hover
{
  animation: effect 1s infinite 1s;
}

#Skills .Skill_Name p img:hover + .Span_Hover
{
  animation: effect 1s infinite 1s;
}

.Skill_Panel
{
  height: 200px;

  background-color: hsl(60, 100%, 60%);

  border-radius: var(--radius-10);

  border-color: hsl(60, 100%, 30%);

  border-width: 3px;

  border-style: solid;
}

.Skill_Panel .Upper_Part,
.Skill_Panel .Middle_Part
{
  width: 100%;
}

.Skill_Panel .Container
{
  height: 100%;
  width: 99%;
  margin: auto;
}

.Skill_Panel .Upper_Part
{
  height: 75%;
}

.Skill_Panel .Upper_Part .Skill_Name
{
  width: 70%;
  height: 100%;
  float: left;
}

.Skill_Panel .Upper_Part .Skill_Name .skills-title img
{
  max-height: 100px;
}

.Skill_Panel .Upper_Part .Skill_Name p,
.Skill_Panel .Upper_Part .Skill_Data p
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Skill_Panel .Upper_Part .Skill_Data p
{    
  paint-order: stroke fill;  
  /*-webkit-text-stroke: hsl(39, 97%, 30%) 3px;*/

  -webkit-text-stroke: hsl(0, 0%, 20%) 5px;
  font-size: 60px;
}

.Skill_Panel .Upper_Part .Skill_Data
{
  width: 30%;
  height: 100%;
  float: right;

}

.Skill_Panel .Upper_Part .Skill_Data p
{
  text-align: right;
  vertical-align: middle;
}

.Skill_Panel .Middle_Part
{
  float: left;
}

#Skills ul li
{
  margin-bottom: 100px;
}

/*Contact Div*/

#Contact_Div a img
{
  max-height: 60px;
}

#Contact_Div .Span_Hover
{
  border-color: var(--purple);
  color: var(--purple);
  -webkit-text-stroke-color: var(--purple-border);
}

#Contact_Div a:hover .Span_Hover
{
  animation: effect 1s infinite 1s;
}

#Contact_Div .Table .Column
{
  height: 100%;
  width: 25%;
  float: left;
  text-align: center;
}

#Contact_Div .Table img{
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  display: inline-block;
}

#Contact_Div .Table
{
  margin: auto;
  width: 50%;
  height: 100px;
  background-color: hsl(278, 91%, 70%);
  border-color: hsl(278, 91%, 35%);
  border-width: 3px;
  border-style: solid;
  border-radius: var(--radius-10);
}

#Contact_Div
{
  height: 400px;
}
