#Experiences #Education_Div,
#Experiences #Projects_Div,
#Experiences #Awards_Div,
#Experiences #Professional_Experiences_Div{
  height: auto;
  scroll-margin-top: var(--nav-height);
}

#Experiences .Education_Panel,
#Experiences .Project_Panel
{
  color: var(--white);
}

#Experiences .Education_Panel .Description_Area
#Experiences .Project_Panel .Description_Area
#Experiences .Award_Panel .Description_Area
#Experiences .PE_Panel .Description_Area
{
  width: 100%;
  height: auto;
  margin: auto;
}

#Experiences .Education_Panel .Description_Area .Header_Div_L4,
#Experiences .Project_Panel .Description_Area .Header_Div_L4,
#Experiences .Award_Panel .Description_Area .Header_Div_L4,
#Experiences .PE_Panel .Description_Area .Header_Div_L4
{
  height: 100px;
  display: block;
}

#Experiences .Education_Panel .Description_Area .Text_Container,
#Experiences .Project_Panel .Description_Area .Text_Container,
#Experiences .Award_Panel .Description_Area .Text_Container,
#Experiences .PE_Panel .Description_Area .Text_Container
{
  height: 300px;
  width: 99%;
  margin: auto;
  overflow-y: auto;
  display: block;
}

/*#Experiences .Education_Panel .Description_Area .Toggle_Button_Div,
#Experiences .Project_Panel .Description_Area .Toggle_Button_Div,
#Experiences .Award_Panel .Description_Area .Toggle_Button_Div,
#Experiences .PE_Panel .Description_Area .Toggle_Button_Div
{
  height: 100px;
}

#Experiences .Education_Panel .Description_Area .Toggle_Button_Div .Button_Container,
#Experiences .Project_Panel .Description_Area .Toggle_Button_Div .Button_Container,
#Experiences .Award_Panel .Description_Area .Toggle_Button_Div .Button_Container,
#Experiences .PE_Panel .Description_Area .Toggle_Button_Div .Button_Container
{
  width: auto;
  height: 50px;
  margin: 0;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: blue;
}*/

#Education_Div .Education_Panel .Upper_Part,
#Projects_Div .Project_Panel .Upper_Part,
#Awards_Div .Award_Panel .Upper_Part,
#Professional_Experiences_Div .PE_Panel .Upper_Part
{
  width: 100%;
  height: auto;
  overflow: hidden;
}

#Education_Div .Education_Panel .Upper_Part .Left_Side,
#Projects_Div .Project_Panel .Upper_Part .Left_Side,
#Awards_Div .Award_Panel .Upper_Part .Left_Side,
#Professional_Experiences_Div .PE_Panel .Upper_Part .Left_Side
{
  float: Left;
  width: 40%;
  height: 100%;
  margin: auto;
}

#Education_Div .Education_Panel .Upper_Part .Right_Side,
#Projects_Div .Project_Panel .Upper_Part .Right_Side,
#Awards_Div .Award_Panel .Upper_Part .Right_Side,
#Professional_Experiences_Div .PE_Panel .Upper_Part .Right_Side
{
  float: right;
  width: 60%;
  height: auto;
  margin: auto;
  vertical-align: middle;  
  justify-content: center;
}

#Education_Div .Education_Panel .Upper_Part .Right_Side .Row,
#Projects_Div .Project_Panel .Upper_Part .Right_Side .Row,
#Awards_Div .Award_Panel .Upper_Part .Right_Side .Row,
#Professional_Experiences_Div .PE_Panel .Upper_Part .Right_Side .Row
{
  float: left;
  width: 100%;
  height: 100px;
  align-items: center;
  margin: auto;
}

#Experiences .Project_Panel .Slideshow .Toggle_Button_Div
{
  width: 100%;
  height: 100px;
}

/*#Experiences .Project_Panel .Slideshow .Toggle_Button_Div .Button_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  display: flex;
  justify-content: center;
}

#Experiences .Project_Panel .Slideshow .Toggle_Button_Div .Button_Container button img
{
  max-height: 90px;
  display: block;
  margin: auto;
}

#Experiences .Project_Panel .Slideshow .Toggle_Button_Div .Button_Container img
{
  max-height: 90px;
  display: block;
  margin: auto;
}

#Experiences .Education_Panel .Description_Area .Toggle_Button_Div .Button_Container button img,
#Experiences .Project_Panel .Description_Area .Toggle_Button_Div .Button_Container button img,
#Experiences .Award_Panel .Description_Area .Toggle_Button_Div .Button_Container button img,
#Experiences .PE_Panel .Description_Area .Toggle_Button_Div .Button_Container button img
{
  max-height: 90px;
  display: block;
  margin: auto;
}*/

#Experiences .Table ul li .Upper_Part .Left_Sides .Name_Table
{
  height: 10%;
  position: relative;
  width: 100%;
}

#Experiences .Table ul li .Upper_Part .Left_Side .Name_Table .Index
{
  float: left;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  height: 100%;
  position: relative;
  width: 10%;
}

#Experiences .Table ul li .Upper_Part .Left_Side .Name_Table .Name
{
  float: left;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  position: relative;
  width: 80%;
}

#Experiences .Table .Upper_Part .Right_Side .Row .Icon
{
  width: 15%;
  float: left;
  text-align: center;
  vertical-align: middle;  
  justify-content: space-between;
  height: 100%;
}

#Experiences .Table .Upper_Part .Right_Side .Row .Icon .Icon_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  display: flex;
}

#Experiences .Table .Upper_Part .Right_Side .Row .Icon .Icon_Container img
{
  max-width: 60px;
}

#Experiences .Table .Upper_Part .Right_Side .Row .Icon .Icon_Container .Span_Hover
{
  margin-left: 140px;
}

#Experiences .Table .Upper_Part .Right_Side #Duration_Row .Icon .Icon_Container .Span_Hover,
#Experiences .Table .Upper_Part .Right_Side #Location_Row .Icon .Icon_Container .Span_Hover,
#Experiences .Table .Upper_Part .Right_Side #Ranking_Row .Icon .Icon_Container .Span_Hover
{
  margin-left: 155px;
}

#Experiences .Table .Upper_Part .Right_Side #Category_Row .Icon .Icon_Container .Span_Hover,
#Experiences .Table .Upper_Part .Right_Side #Company_Row .Icon .Icon_Container .Span_Hover

{
  margin-left: 165px;
}

#Experiences .Table .Upper_Part .Right_Side .Row .Section_1
{
  float: left;
  width: auto;
  max-width: 63%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

#Experiences .Table .Upper_Part .Right_Side .Row .Section_2
{
  width: 13%;
  float: right;
  text-align: center;
  vertical-align: middle;  
  justify-content: space-between;
  height: 100%;
  margin-right: 2%;
}

#Experiences .Table .Upper_Part .Right_Side .Row .Section_2 .Icon_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  display: flex;
}


#Experiences .Table .Upper_Part .Right_Side .Row .Section_2 .Icon_Container img
{
  max-height: 60px;
}

#Projects_Div .Project_Panel .Right_Side #Company_Row .Section_2,
#Awards_Div .Award_Panel .Right_Side #Company_Row .Section_2,
#Professional_Experiences_Div .PE_Panel .Right_Side #Company_Row .Section_2
{
  float: right;
  width: auto;
  max-width: 46%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/*Education Div*/


#Education_Div .Education_Panel
{
  background-color: rgb(252, 181, 48);
  border-color: hsl(39, 97%, 30%);
  border-width: 3px;
  border-radius: var(--radius-10);
  border-style: solid;
  width: 95%;
  /*height: 1000px;*/
  margin: auto;  
  paint-order: stroke fill;  
  -webkit-text-stroke: hsl(39, 97%, 30%) 3px;
  overflow: hidden;
  height: auto;
}

#Education_Div .Education_Panel .Upper_Part
{
  height: 500px;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: hsl(39, 97%, 30%);
}

#Education_Div .Education_Panel .Left_Side
{
  width: 40%;
  height: 100%;
  float: left;
  margin: auto;
}


#Education_Div #Education_Table
{
  height: auto;
}

#Education_Div li
{
  margin-top: 50px;
  margin-bottom: 50px;
}


#Education_Div .Education_Panel .Left_Side .Logo
{
  height: 75%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  float: left;
}

#Education_Div .Education_Panel .Left_Side .Logo .Container
{
  align-items: center;
  justify-content: center;
}

#Education_Div .Education_Panel .Left_Side .Name
{
  height: 25%;
  width: 100%;

  align-items: center;
  justify-content: center;
  display: flex;
}

#Education_Div .Education_Panel .Right_Side #GPA_Row .Section_1
{
  width: 69%;
}


#Experiences #Education_Div .Table ul li .Education_Panel .Right_Side #GPA_Row .Section_2
{
  width: 14%;
  margin-right: 1%;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-items: center;
  display: flex;
}

#Education_Div .Education_Panel .Right_Side #GPA_Row .Section_2 img
{
  max-height: 60px;
}

#Education_Div .Education_Panel .Right_Side #Location_Row,
#Education_Div .Education_Panel .Right_Side #Major_Row
{
  background-color: rgba(0, 0, 0, 0.25);
}

#Education_Div .Title_Icon
{
  margin: auto;
  vertical-align: middle;  
  justify-content: center;
}

/*
  Projects Div
*/

#Projects_Div .Project_Panel
{
  background-color: rgb(252, 181, 48);
  border-color: hsl(39, 97%, 30%);
  border-width: 3px;
  border-radius: var(--radius-10);
  border-style: solid;
  width: 95%;
  height: auto;
  margin: auto;  
  paint-order: stroke fill;  
  -webkit-text-stroke: hsl(39, 97%, 30%) 3px;
}

#Projects_Div li
{
  margin-top: 50px;
  margin-bottom: 50px;
}

#Projects_Div .Project_Panel .Upper_Part
{
  height: 400px;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: hsl(39, 97%, 30%);
}

#Projects_Div .Project_Panel .Description_Area
{
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: hsl(39, 97%, 30%);
}

#Projects_Div .Project_Panel .Slides_Project_1 p
{
  display: none;
}

#Projects_Div .Project_Panel h3
{
  text-align: center;
  -webkit-text-stroke-color: hsl(39, 97%, 30%);
}

#Projects_Div .Project_Panel .Right_Side #Location_Row,
#Projects_Div .Project_Panel .Right_Side #Duration_Row
{
  background-color: rgba(0, 0, 0, 0.25);
}

#Projects_Div .Project_Panel .Slideshow
{  
  margin: auto;
  height: auto;
  /*
  height: 700px;  
  height: calc((700 * 100%) / 1700);*/
}


#Projects_Div .Project_Panel .Slideshow .Header_Div_L4
{
  height: 100px;
  width: 100%;
  margin: auto;
}

#Projects_Div .Project_Panel .Slideshow .Upper_Part_2
{
  height: 500px;
  width: 100%;

  border-top: 2px solid hsla(0, 0%, 0%, 0.25);

  border-bottom: 2px solid hsla(0, 0%, 0%, 0.25);
}

#Projects_Div .Project_Panel .Slideshow #Display_Div .Container
{
  margin: auto;
  width: 99%;
  height: 100%;
  overflow: hidden;
}


#Projects_Div .Project_Panel .Slideshow .Upper_Part_2 #Display_Div
{
  height: 100%;
  width: 35%;
  float: left;

  border-right: 2px solid hsla(0, 0%, 0%, 0.25);
}

#Projects_Div .Project_Panel .Slideshow .Upper_Part_2 .Slideshow_Description_Area
{
  height: 100%;
  width: 65%;
  float: right;

  align-items: center;
  justify-content: center;
}

#Projects_Div .Project_Panel .Slideshow .Upper_Part_2 .Slideshow_Description_Area .Header_Div_L5
{
  height: 15%;
}

#Projects_Div .Project_Panel .Slideshow .Upper_Part_2 .Slideshow_Description_Area .Text_Container
{
  width: 99%;
  height: 85%;
  margin: auto;
  overflow-y: auto;
}

#Projects_Div .Project_Panel .Slideshow .Footer
{
  height: 100px;
  width: 100%;

  align-items: center;
  justify-content: center;
  overflow: hidden;

  
  border-bottom: dashed 2px rgba(0, 0, 0, 0.25);
}

/*#Projects_Div .Project_Panel .Slideshow .Footer .Previous_Button_Div
{
  float: left;
  width: 33.33%;
  width: calc(100% / 3);
  height: 100%;
}*/

#Projects_Div .Project_Panel .Slideshow .Footer .Button_Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  display: flex;
  justify-content: center;
}

#Projects_Div .Project_Panel .Slideshow .Footer .Button_Container button
{
  display: block;
  margin: auto;
}

/*#Projects_Div .Project_Panel .Slideshow .Footer #Slideshow_Counter_Div
{
  float: left;
  width: 33.33%;
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

#Projects_Div .Project_Panel .Slideshow .Footer #Slideshow_Counter_Div p
{
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}*/

/*#Projects_Div .Project_Panel .Slideshow .Footer .Next_Button_Div
{
  float: left;
  width: 33.33%;
  width: calc(100% / 3);
  height: 100%;
}*/

#Experiences #Projects_Div .Project_Panel .Slideshow .Upper_Part_2 #Display_Div .Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  display: flex;
}

#Experiences #Projects_Div .Project_Panel .Slideshow .Upper_Part_2 #Display_Div .Container img
{
  max-width: 90%;
  margin: auto;
}

#Experiences #Projects_Div .Project_Panel .Slideshow .Upper_Part_2 #Display_Div .Container iframe
{
  max-width: 100%;
  max-height: 300px;
  margin: auto;
  z-index: 500;
}

#Projects_Div .Project_Panel .Slideshow .Slides_Project_1 .Slideshow_Description_1
{
  display: none;
}

/*.Previous_Button_Div button img,
.Next_Button_Div button img
{
  height: 80px;
}*/

#Experiences #Projects_Div .Project_Panel .Slideshow .Upper_Part_2 #Display_Div .Container
{
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  display: flex;
}

/*
  Award
*/

#Awards_Div li
{
  margin-top: 50px;
  margin-bottom: 50px;
}

#Awards_Div .Award_Panel
{
  background-color: rgb(252, 181, 48);
  border-color: hsl(39, 97%, 30%);
  border-width: 3px;
  border-radius: var(--radius-10);
  border-style: solid;
  width: 95%;
  height: auto;
  margin: auto;  
  paint-order: stroke fill;  
  -webkit-text-stroke: hsl(39, 97%, 30%) 3px;
  overflow: hidden;
  color: var(--white);
}

#Awards_Div .Award_Panel .Upper_Part
{
  width: 100%;
  height: 500px;
  border-bottom: 3px hsl(39, 97%, 30%) solid;
}

/*#Awards_Div .Award_Panel .Upper_Part .Left_Side
{
  width: 35%;
  height: 100%;
  float: left;
}*/

/*#Awards_Div .Award_Panel .Upper_Part .Right_Side
{
  width: 65%;
  height: 100%;
  float: right;
}*/

#Awards_Div .Award_Panel .Upper_Part .Right_Side #Time_Row,
#Awards_Div .Award_Panel .Upper_Part .Right_Side #Location_Row
{
  background-color: rgba(0, 0, 0, 0.25);
}

/*
  Experiences Div
*/

.Experience_Item .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 10px;
  }
  
  #Experiences .Span_Hover
  {
    border-color: var(--orange);
    color: var(--orange);
    -webkit-text-stroke-color: var(--orange-border);
  }
  
  #Experiences .Icon_Container img:hover + .Span_Hover
  {
    animation: effect 1s infinite 1s;
  }
  
  #Experiences h3,
  #Experiences h4,
  #Experiences h5
  {
    text-align: center;
    -webkit-text-stroke-color: hsl(39, 97%, 30%);
  }
  
  /*
    Professional Experience Div
  */
  
  #Professional_Experiences_Div li
  {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #Professional_Experiences_Div .PE_Panel
  {
    background-color: rgb(252, 181, 48);
    border-color: hsl(39, 97%, 30%);
    border-width: 3px;
    border-radius: var(--radius-10);
    border-style: solid;
    width: 95%;
    height: auto;
    margin: auto;  
    paint-order: stroke fill;  
    -webkit-text-stroke: hsl(39, 97%, 30%) 3px;
    overflow: hidden;
    color: var(--white);
  }
  
  #Professional_Experiences_Div .PE_Panel .Upper_Part
  {
    width: 100%;
    height: 300px;
    border-bottom: 3px hsl(39, 97%, 30%) solid;
  }
  
  #Professional_Experiences_Div .PE_Panel .Right_Side #Company_Row
  {
    background-color: rgba(0, 0, 0, 0.25);
  }